.lead-status-container{
	margin-top: 15px;
}
.droppable
{
	width: 15%;
	min-height:200px;
	float: left;
}
.droppable {
  margin-right: 1.9%;
}
div.droppable:last-child{
	margin-right: 0px;
}
.no-margin-right{
	margin-right: 0px !important;
}
.droppable h1 {
	text-align: center;
	margin-top: 10px;
}
.lead-added {
	background-color: #ffff7f;
}
.lead-contacted{
	background-color: #5eb8d2;
}
.lead-interested{
	background-color: #be7eec;
}
.lead-not-interested{
	background-color: #fb666e;
}
.lead-sold{
	background-color: #6bfb66;
}
.lead-assigned{
	background-color: #f1f1f1;
}
.lead_name ,.from-lead-status, .to-lead-status
{
	font-weight: bold;
}
.lead {
    text-align: center;
    padding: 3px;
}

#generate-proposal-form fieldset { border:none; width:320px; overflow: auto; max-height:400px;}
        #generate-proposal-form legend { font-size:18px; margin:0px; padding:10px 0px; color:#b0232a; font-weight:bold;}
        #generate-proposal-form label { display:block; margin:15px 0 5px;}
        #generate-proposal-form input[type=text],#generate-proposal-form input[type=password] { width:300px; padding:5px; border:solid 1px #000;}
        #generate-proposal-form .prev, .next { background-color:#b0232a; padding:5px 10px; color:#fff; text-decoration:none;}
        #generate-proposal-form .prev:hover, .next:hover { background-color:#000; text-decoration:none;}
        #generate-proposal-form .prev { float:left;}
        #generate-proposal-form .next { float:right;}
        #steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
        #steps li {font-size:24px; float:left; padding:10px; color:#b0b1b3;}
        #steps li span {font-size:11px; display:block;}
        #steps li.current { color:#000;}
        #makeWizard { background-color:#b0232a; color:#fff; padding:5px 10px; text-decoration:none; font-size:18px;}
        #makeWizard:hover { background-color:#000;}

.simple-form-button {
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(center top , #FFFFFF, #EEEEEE) repeat scroll 0 0 transparent;
    border-color: #E2E2E2 #DDDDDD #CCCCCC;
    border-left: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    border-right: 1px solid #DDDDDD;
    border-style: solid;
    border-width: 1px 1px 2px;
    color: #000000;
    cursor: pointer;
    font-size: 9pt;
    margin: 0;
    padding: 8px 18px;
    width: auto;
    height: auto;
}
.submit-button {
	background: -moz-linear-gradient(center top , #FFFFFF, #2a8db4) repeat scroll 0 0 transparent;
    float: right;
    display: none;
}

.form-controls {
    clear: both;
}

.previous-fieldset {
	display: none;
	float: left;
}
.next-fieldset {
	float: right;
},
a.next-fieldset,
a.previous-fieldset {
	color: #ccc;
}

.clear {
	clear: both;
}
.progress {
	border-bottom: 1px solid #EEECE9;
    border-top: 1px solid #FFFFFF;
    height: 20px;
}

.progress-bar {
        height: 15px;  /* Can be anything */
        position: relative;
        background: #e2e2e2;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        padding: 5px;
        -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
        -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
        box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
        margin: 10px 0;
        overflow: hidden;
}

.progress-bar .progress-bg{
        display: block;
        height: 100%;
        -webkit-border-top-right-radius:    20px;
        -webkit-border-bottom-right-radius: 20px;
        -moz-border-radius-topright:        20px;
        -moz-border-radius-bottomright:     20px;
        border-top-right-radius:            20px;
        border-bottom-right-radius:         20px;
        -webkit-border-top-left-radius:     20px;
        -webkit-border-bottom-left-radius:  20px;
        -moz-border-radius-topleft:         20px;
        -moz-border-radius-bottomleft:      20px;
        border-top-left-radius:             20px;
        border-bottom-left-radius:          20px;
        background-color: rgb(43,194,83);
        background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(43,194,83)),
			color-stop(1, rgb(84,240,84))
        );
        background-image: -webkit-linear-gradient(
			center bottom,
			rgb(43,194,83) 37%,
			rgb(84,240,84) 69%
		);
        background-image: -moz-linear-gradient(
			center bottom,
			rgb(43,194,83) 37%,
			rgb(84,240,84) 69%
		);
        background-image: -ms-linear-gradient(
			center bottom,
			rgb(43,194,83) 37%,
			rgb(84,240,84) 69%
        );
        background-image: -o-linear-gradient(
			center bottom,
			rgb(43,194,83) 37%,
			rgb(84,240,84) 69%
        );
        -webkit-box-shadow:
			inset 0 2px 9px  rgba(255,255,255,0.3),
			inset 0 -2px 6px rgba(0,0,0,0.4);
        -moz-box-shadow:
			inset 0 2px 9px  rgba(255,255,255,0.3),
			inset 0 -2px 6px rgba(0,0,0,0.4);
        overflow: hidden;
        width: 0%;
}

.progress-bar .progress-text {
    position: absolute;
    left: 50%;
    top: 2px;
    z-index: 10;
}