/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.workspace-div
{
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #5BC0DE;
  color: white;
  margin-bottom: 15px;
  cursor: pointer;
}
.workspace_link
{
	text-decoration: none;
}
.left-side 
{
	width: 20%;
	float: left;
  	margin-right: 1%;
  	border-right: 1px solid black;
}
.right-side
{
	width: 78%;
	float: left;
}
.logo
{
	float: left;
	width: 20%;
}
.navigation-left
{
	float: left;
}
.navigation-left ul li{
	display:inline-block;
	margin-right:20px;
}
.navigation-right
{
	float: right;
}
.navigation-container
{
	padding: 20px;
}
.sidebar-menu{
	padding: 10px;
}
.sidebar-menu li 
{
	margin-bottom: 10px;
}
.search-container
{
	width:100%;
	float:left;
	margin:10px;
	padding:10px;
}
h1.search-title {
	width: 100%;
	font-size: 18px;
}
.search-left{
	width: 60%;
	float: left;
}
.search-right{
	width: 40%;
	float: right;
}
.full {
  width: 100%;
  float: left;
  padding: 10px;
}
.one-sixth {
  width: 16%;
  float: left;
}
.one-third {
  width: 33%;
  float: left;
}
.one-half {
  width: 50%;
  float: left;
}
.header {
	border-bottom: 1px solid black;
}
.permission-list {
	padding-left: 15px;
}

.roles li 
{
	margin-bottom: 15px;
}

fieldset
{
	border:1px solid #111;
	padding:10px;
	margin:10px 0;
}
legend
{
	margin:10px;
}
textarea { overflow: auto; }

.status-red-circle
{
	float:left;
	margin: 0 10px;
	width: 15px;
    height: 15px;
    background: url('images/red_circle.png');
    background-size:100% 100%;
}

a
{
	padding:2px;
}
