.left-content
{
	    background: #BE0112;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
}
.left-content .sidebar
{
	padding: 14px;
	
}
.left-content .sidebar-border
{
	border-bottom: 1px solid white;
	cursor: pointer;
	position: relative;
}
.
.left-content .sidebar:hover
{
	background: #8D212B !important;
}
.left-content .sidebar-border:last-child
{
	border-bottom: none;
}
.page_heading {
     margin-bottom: 0px; 
}
.main_heading {
	padding: 40px 0px 20px 0px;
}

.order
{
	margin-top: 20px;
}
.user_tabs_data h3
{
	color: #BE0112;
	font-weight: bold;
	text-transform: uppercase;
}
.user_tabs_data
{
	padding-left: 40px;
    padding-top: 25px;

}

.row.vdivide [class*='col-']:not(:last-child):after {
	width: 0px;
}
.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	
	border-right:10px solid white;
	right: 0px;
	position: absolute;
	top: 10px;
	display: none;
}
.user_tabs[data-active="1"] .arrow-left
{
	display: block;
}
.settings-tab .panel-body,
.car-alarm-tab .panel-body
{
	    padding-left: 0;
    padding-top: 0;
}
.settings-tab label,
.car-alarm-tab label
{
	color: #B3B3B3;
}
.settings-tab h4,
.car-alarm-tab h4
{
	color: #BE0112;
}
.btn-red { 
    padding: 8px 18px;
    font-size: 13px;
    text-transform: uppercase;
 }
.bg-success
{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    font-size: 13px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.bg-danger
{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #a94442;
    background-color:#f2dede;
    border-color: #ebccd1;
    font-size: 13px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.car-image-div{
	height: 100%;
}

.car-detail .car-name, .car-detail .car-version
{
	color: #333333;
}

.order
{
	margin-top:10px;
	margin-bottom: 0px;
	border:1px solid #dedede;
	width:100%;
	display:inline-block;
}
.order img
{
	width:100%;
}

.custom-padding-left
{
	padding-left: 0;
}
.custom-padding-right
{
	padding-right: 0;
}
.order-car-details
{
	padding:15px 0 0 0;
}
.order-car-details .car-name, .order-car-details .car-version
{
	color: black;
	font-size:16px;
}
.order-car-details .car-version
{
	font-weight: normal;
}
.order:last-child
{
	margin-bottom: 15px;
}
.order-details
{
	font-size: 12.5px;
}
.order-information
{
	padding-bottom: 10px;
}
@media (min-width: 768px) and (max-width: 1200px) {
	.car-img-default{
		padding-bottom: 35px;
	}
}
.user_tabs
{
	text-transform: uppercase;
}
#car-brand-alarm-popup, 
#car-model-alarm-popup {
  width: 100%;
  margin: 0 auto;
  max-width: 450px;
  padding-left: 17px;
}
#car-brand-alarm-popup, 
#car-model-alarm-popup {
  max-width: 750px;
}

#car-brand-alarm-popup .modal-header,
#car-model-alarm-popup .modal-header
{
    border-top: 7px solid #BE0112;
    min-height: 0; 
}
  #car-brand-alarm-popup .modal-footer
  {
    clear: left !important;
  }
  /*
    #car-brand-alarm-popup .modal-body
    {
      padding-top: 27px;
    }*/
    #car-brand-alarm-popup .close-button,
    #car-model-alarm-popup .close-button
    {
        margin-top: 10px;
        padding: 14px 22px;
        text-transform: uppercase;
        font-weight: bold;
        margin-left: -13px;
    }

    #car-brand-alarm-popup #cost-div,
    #car-model-alarm-popup #cost-div
    {
      padding: 13px;
      position: absolute;
      right: 0;
      background-color: #BE0112;
      color: #fff;
      padding-bottom: 5px;
    }
    #car-brand-alarm-popup #cost-div span,
    #car-brand-alarm-popup .accessory-cost.
    #car-model-alarm-popup #cost-div span,
    #car-model-alarm-popup .accessory-cost
    {
      float: left;
    }
    #car-brand-alarm-popup #cost-label,
    #car-model-alarm-popup #cost-label
    {
      font-size: 12px;
      text-transform: uppercase;
    }
    #car-brand-alarm-popup #cost-shw,
    #car-model-alarm-popup #cost-shw
    {
      float: right;
      font-size: 18px;
    }
    #car-brand-alarm-popup .modal-title,
    #car-model-alarm-popup .modal-title
    {
      color: #BE0112;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 10px;
      margin-bottom: 0px; 
    }
    @media (min-width: 768px){
      #car-brand-alarm-popup .modal-doalog,
      #car-model-alarm-popup .modal-doalog
      {
        width:650px;
      }
    }
    @media (max-width: 537px){
      #car-brand-alarm-popup .modal-title ,
      #car-model-alarm-popup .modal-title 
      {
            margin-top: 56px!important;
        }
    }
.beer-logo-parent-div
    {    
      position: absolute;
      bottom: -5px;
      opacity: 0.3;
      right: -18px;
      width: 34%;
    }

     @media (max-width: 767px) {
      .beer-logo-parent-div{
        position: absolute;
        bottom: -11px;
        opacity: 0.3;
        right: -24px;
        width: 57%;
        
      }
  
    }

      @media (max-width: 767px) {
      .beer-logo-parent-div{
        position: absolute;
        bottom: -5px;
        opacity: 0.3;
        right: -18px;
        width: 87%;
      }
 
    }

    @media (min-width: 447px) and (max-width: 600px){
      .bear-logo {
        width: 15%;
      } 
  }
  @media (min-width: 600px) and (max-width: 767px){
      .bear-logo {
        width: 10%;
      } 
 }

 @media (max-width: 467px) {
      .bear-logo {
        width: 25%;
      }
       #models-names
      {
        font-size: 11px;
      }

    }

    .bear-logo
    {
      width: 22%;
    }

    #car-brand-alarm-popup label,
    #car-model-alarm-popup label
    {
          color: #BE0112;
     
    }
    #car-brand-alarm-popup .btn-red,
    #car-model-alarm-popup .btn-red
    {
      margin-top: 10px;
	    padding: 14px 22px;
	    text-transform: uppercase;
	    font-weight: bold;
	    margin-left: 13px;
	    border-radius: 4px;
     	cursor: pointer;
    }

    #car-brand-alarm-popup h5,
    #car-model-alarm-popup h5
    {
      margin-top: 0;
      color: red;
    }

    .alarm-listing
    {
      padding-left: 0;
      padding-bottom: 15px;
    }
    .alarm-listing li
    {
        font-size: 12.5px;
        padding-bottom: 4px;
        border-bottom: 1px solid #dedede;
    }

    .alarm-listing i
    {
       color: #58504E;
      font-size: 17px;
    }
    .alarm-listing .delete-car-alarm i
    {
       color: #BE0112;
    }
    .brand-names
    {
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    .confirm-popup h4
    {
      font-size: 17px;
      margin-top: 0;
      margin-bottom: 12px;
    }
    .confirm-popup .btn-red,
    .confirm-popup .btn-default
    {
      padding: 7px 14px;
      font-size: 13px;
      text-transform: uppercase;
      border-radius: 3px;
      margin-right: 20px;
    }
    .model-brand-name
    {
      color: #BE0112;
      text-transform: uppercase;
    }
    #car-model-alarm-popup .modal-content
    {
      overflow: hidden;
    }
    #car-model-alarm-popup .modal-body, #car-brand-alarm-popup .modal-body
    {
      overflow: hidden;
      height: 400px;
      overflow-y : auto;
    }
    #car-model-alarm-popup
    {
      max-width: 750px;
    }
 @media (max-width: 510px) {
     
       .models-names
      {
        font-size: 11px !important;
      }
      .car-alarm-tab .btn-red
      {
         padding: 5px 7px !important;
        font-size: 12px !important;
      }
     
    }
.set-alarms
{
  text-align: right;
  background-color: #BE0112;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
}
.alarm-listing ul li
{
  margin-top: 10px;
  text-transform: uppercase;
}
.brand-labels, .model-labels
{
  margin-left: 5px;
  color: #333333 !important;
  font-weight: normal;
}
.modal-open {
   /*overflow: scroll!important;*/
}
.brand-names > label
{
  color: #333333 !important;
  font-size: 14px;
  width: 100%;
  font-weight: normal;
}
.brand-names > label, .models-names > label
{
  width: 100%;
}
.models-names .model-labels
{
  color: #333333 !important;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}
.models-names
{
  margin-bottom: 14px;
}
