.logo img.bear-logo{
	height:80px;
}

.bear-logo-div
{
	width:80px;
}

.incomplete-car-data
{
	background-color: #DE2724;
	color: #ffffff;
	width:50%;
	padding:5px 10px;
	border-radius:4px;
	border: 1px solid transparent;
	border-color: #ebccd1;
	text-align:center;
}
.incomplete-car-data label
{
	margin:0;
}
#generate-order-note-popup .enable_company
{
	border: none;
}
#open-add-organisation-popup
{
	margin-top: 0;
}
.chosen-container .chosen-results li.group-result
    {
        font-size: 16px;
        text-decoration: underline;
    }

    textarea
    {
    	max-width: 100%;
    }