.loneIcon{
    cursor:pointer;
}
.editFieldForm{
    background-color:#E5E5E5;
    margin:10px;
    padding:10px;
    border-radius:10px;
    display:none;
}
.addOption{
    cursor:pointer;
}

.template-form-field{
    display:none;
}
.form-fields{
	border-top: 1px dashed #ccc;
    padding-top: 15px;
}