.channel_for_sellers.row
{
	margin: 0 !important;
	border: 1px solid black;
	border-bottom: none;
}
.channel_for_sellers.row div
{
	border-bottom: 1px solid black;
	padding: 8px;
}
#location_car_seller_modal .modal-body > .row
{
	margin: 0 !important;
	border: 1px solid black;
	border-bottom: none;
}